ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #091057;
}

li{
    float: left;
}

ul a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 14px 16px;
    text-align: center;
}
    

ul a:hover{
    color:#EC8305;
    background-color: #024CAA;
    transition: 0.25s; 
}
 
.logo{

  float: right;
}
    


